<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="test_dir" value="./testdir"/>
    <add key="txt_file_text_1" value="This is the a test File"/>
    <add key="txt_file_md5_1" value="7cd1469c52ca58593311f064d6f4e7e4" />
  </appSettings>
</configuration>