<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="test_dir" value="./testdir"/>
    <add key="rsa_dir" value="./testdir/RSA"/>
    <add key="txt_file_text_1" value="This is the FIRST test File"/>
    <add key="txt_file_text_2" value="This is the SECOND test File"/>
    <add key="txt_file_text_3" value="This is the THIRD test File"/>
    <add key="txt_file_md5_1" value="06f15ed99c671d46917255e32d8bd7a7" />
    <add key="txt_file_md5_2" value="e4b29ad975a44c82410bba5f01396bac" />
    <add key="txt_file_md5_3" value="feb93264d6aa8bd39ad6a8e5c9ef0fd0" />
    <add key="aes_1" value="1BAC20A3E2744D65908EA847ABD2A4EF06EF8A1E6A543B87C4228B4664F868D5" />
    <add key="aes_2" value="83093E6740A4CF8872CE663874818A0EEDF34A013E7BA101E23773A109ED4797" />
    <add key="aes_3" value="59B25A0FB233854FDD1F7F4A15F9B3E39907CE76157676E9F7C9ABB9507624AB" />
    <add key="secret_key" value="carciofo" />
    <add key="RSA_priv_key" value="privateKey.xml"/>
    <add key="RSA_pub_key" value="publicKey.xml"/>
    <add key="RSA_txt_in" value="test.txt"/>
    <add key="RSA_rsa_in" value="test.rsa"/>
    <add key="RSA_rsa_out" value="out.rsa"/>
    <add key="RSA_txt_out" value="out.txt"/>
  </appSettings>
</configuration>