<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="test_dir" value="./testdir"/>
    <add key="txt_file_text" value="This is the a test File"/>
    <add key="txt_file_md5" value="23063bec7cc34b23f8f2bf142ec1f033" />
  </appSettings>
</configuration>